{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <title>{% block title %}My Blog{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block header %}My Blog{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'post_list' %}">Posts</a></li>
                <!-- <li><a href="{% url 'contact' %}">Contact</a></li> -->
                <li><a href="{% url 'product_list' %}">Products</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; This is my django project.</p>
    </footer>
</body>
</html>